include runner README.md
include runner .version
recursive-include pysshchat *
recursive-include pysshchat/chats *
recursive-include pysshchat/commands *
recursive-include pysshchat/key *
recursive-include pysshchat/yaml *.yaml